<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="UpdateIntervalInMinutesForTelemetry" value="30"/>
    <add key="UpdateIntervalInMinutesForQuiz" value="2"/>
    <add key="FeedbackTargetTableName" value="FeedbackAnswers"/>
    <add key="TelemetryTargetTableName" value="RippleTelemetryData"/>
    <add key="TargetDatabaseName" value="RippleDB"/>
    <add key="TargetServerName" value="rippleinternal.fareast.corp.microsoft.com"/>
    <add key="SMTPServer" value="XTLABHOST.PARTTEST.EXTRANETTEST.MICROSOFT.COM"/>
    <add key="EmailFrom" value="ripplesv@microsoft.com"/>
    <add key="EmailTo" value="ripplesv@microsoft.com"/>
    <add key="EmailSubject" value="Ripple Logs"/>
    <add key="EmailBody" value="Please find attached ripple debug logs"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
</configuration>